<!-- index.hbs -->

<h1>Home</h1>
    <nav>
        <a href= "./index">Home</a>
        <a href= "./aircraft">Aircraft</a>
        <a href="./carriers">Carriers</a>
        <a href="./passengers">Passengers</a>
        <a href="./flights">Flights</a>
        <a href="./passengersOnFlights">PassengersOnFlights</a>

    </nav>
    
    

    <h3>Welcome to our FAA Database</h3>
        <article>
            With air travel continuing to grow, the FAA has a problem tracking aircraft flight and passenger data. The FAA needs this information to make better rules and regulations, so they can improve air travel in all aspects. Our airport DB supports the FAA by logging Aircraft, Carriers, Passengers, Flights, and PassengersOnFlights. The system can track 20 Flights across 8 Carriers and 25 Aircraft for up to 2000 Passengers per day. This allows the FAA to see the number of passengers per flight, their seat assignment, and airline departure/arrival times.  It is used in conjunction with the FAA’s existing DB to cross-reference actual vs. scheduled arrival/departure times and destinations.
        </article>
    {{!-- <dl>
        <dt><h2>Flights</h2></dt>
            <dd>Contains information on passengers, arrival/depature times, and aircraft</dd>
        <dt><h2>Carriers</h2></dt>
            <dd>Contains information on carriers</dd>
        <dt><h2>Aircraft</h2></dt>
            <dd>Contains information on aircraft</dd>
        <dt><h2>Passengers</h2></dt>
            <dd>Contains information on passengers</dd>
        <dt><h2>PassengersOnFlights</h2></dt>
            <dd>Contains information on passengers on flights</dd>
    </dl> --}}
